.main {
  padding: 5rem 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 50vh;
  height: 6vh;
  border: 1px solid black;
  background-color: rgba(0,0,0,0.8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
  margin: 0 auto;
  user-select: none;
}

.board {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 50vh;
}

.palette {
  width: 100px;
  height: 100px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_white {
  color: white;
  text-shadow: 1px 1px black;
}

.text_black {
  color: black;
  text-shadow: 1px 1px white;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

@media (max-width: 600px) {
  .footer {
    width: 100%;
  }
}
